{% load i18n %}
<!-- Footer Top Area Start -->
<div class="footer-top padding-70 fix">
    <div class="container">
        <div class="row">
            <div class="col-md-12 footer-logo margin-bottom-70">
                <img src="../static/img/4xcmeLogoFooter2.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 footer-text footer-first">
                <p>{{ COMPANY_ADDRESS }}<br>
                   {{ COMPANY_PHONE }}<br>
                   {{ COMPANY_EMAIL }}</p>
                <p>{% blocktrans %}Forex products are leveraged products and trading forex therefore involves a high level of risk that may not be suitable for everyone.{% endblocktrans %}</p>
                <p>{{ COMPANY_NAME }} {% blocktrans %}recommends that you ensure that you fully understand the risks involved before making any decision concerning {{ COMPANY_NAME }}'s products.{% endblocktrans %}</p>
                <p>{% blocktrans %}Independent advice should be sought if necessary{% endblocktrans %}</p>
            </div>
            <div class="col-md-12 col-sm-12 footer-text">
                <p>{{ COMPANY_NAME }} {% blocktrans %}Limited is an International business company with registration number 130266 and is authorised and regulated by the International Financial Services Commission (IFSC) under License number IFSC/60/260/TS/17. {{ COMPANY_NAME }} Limited has its registered office being located at No. 5 Cork Street, Belize City, Belize.{% endblocktrans %}</p>
                <p>{% blocktrans %}Trading Forex and CFDs involves significant risk and can result in the loss of your invested capital. You should not invest more than you can afford to lose. Before trading, you should ensure that you fully understand the risks involved as trading leveraged products may not be suitable for all investors. Prior to trading, please take into account your level of experience, your investment objectives and seek independent financial advice if necessary. It is the responsibility of the Client to ascertain whether he/ she is permitted to use the services of {{ COMPANY_NAME }} Limited based on the legal requirements in his/her country of residence.{% endblocktrans %}</p>
                <p>{{ COMPANY_NAME }} {% blocktrans %}Limited does not provide services to residents of the USA, Belize, Japan and Canada.{% endblocktrans %}</p>

            </div>
        </div>
    </div>
</div>
<!-- Footer Top Area End -->
<!-- Footer Bottom Start -->
{#<div class="footer-bottom">#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-xs-12 col-md-6">#}
{#                <!-- Footer Copyright -->#}
{#                <div class="copy-right">#}
{#                    <p>&copy; 2015 <a href="http://bootexperts.com/">BootExperts</a>, All Right Reserved</p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-12 col-md-6">#}
{#                <!-- Footer Payment -->#}
{#                <div class="payment">#}
{#                    <a href="#"><img src="../static/img/payment/1.png" alt=""/></a>#}
{#                    <a href="#"><img src="../static/img/payment/2.png" alt=""/></a>#}
{#                    <a href="#"><img src="../static/img/payment/3.png" alt=""/></a>#}
{#                    <a href="#"><img src="../static/img/payment/4.png" alt=""/></a>#}
{#                    <a href="#"><img src="../static/img/payment/5.png" alt=""/></a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div><!-- Footer Bottom End -->#}

<!-- JS -->

<!-- jQuery JS -->
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Nivo Slider JS -->
<script src="../static/js/jquery.nivo.slider.pack.js"></script>
<!-- Mean Menu JS -->
<script src="../static/js/jquery.meanmenu.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- ScrollUP JS -->
<script src="../static/js/jquery.scrollup.min.js"></script>
<!-- TreeView JS -->
<script src="../static/js/jquery.treeview.js"></script>
<!-- Price Slider JS -->
<script src="../static/js/jquery-price-slider.js"></script>
<!-- simpleLens JS -->
<script src="../static/js/jquery.simpleLens.min.js"></script>
<!-- Match Height JS -->
<script src="../static/js/jquery.matchHeight-min.js"></script>
<!-- WOW JS -->
<script src="../static/js/wow.min.js"></script>
<script src="../static/js/faq.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../static/js/refsCtrl.js"></script>
<script src="../static/js/httpService.js"></script>
<script src="../static/js/registrationCtrl.js"></script>
<script src="../static/js/tables.js"></script>
<script>
    new WOW().init();
</script>
<!-- Main JS -->
<script src="../static/js/main.js"></script>