<div class="container-topbar" style="margin: 0 auto;">
     <div class="row" style="margin-top: 200px; margin-bottom: 100px;">
         <div class="col-md-4 col-sm-12">
             <div class="standard-account-wraper">
                 <div class="standard-account-topbar"></div>
                 <div class="standard-account-content">
                     <span>S</span>
                     <div class="standard-account-spec">
                       <h3>{% blocktrans %}STANDARD ACCOUNT{% endblocktrans %}</h3>
                       <p>{% blocktrans %}Start trading with just $50. No commissions charged!{% endblocktrans %}</p>
                       <ul>
                       <li></li>
                       <li>
                           <p>{% blocktrans %}Spreads{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}from 2.3 pips{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Minimum Deposit{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}50 USD *{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Leverage{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}1:1-1:500{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Order Execution{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}Market Execution{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Instrument{% endblocktrans %}s</p>
                           <p class="gold">{% blocktrans %}FX, Commodities, Equity Indices{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Deposit Currencies{% endblocktrans %}</p>
                           <p class="gold">GBP, USD, EUR, JPY, RUB, PLN CZK
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Swap Type{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}Points ***{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Minimum Order Size{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}0.01 ****{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Maximum Order Size{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}20{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Stop Out{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}50%{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Margin Call{% endblocktrans %}l</p>
                           <p class="gold">{% blocktrans %}100%{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Trading Platform{% endblocktrans %}</p>
                           <p class="gold">{% blocktrans %}MetaTrader 4{% endblocktrans %}
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Mobile Trading{% endblocktrans %}</p>
                           <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Telephone Trading{% endblocktrans %}</p>
                           <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Fifth Decimal{% endblocktrans %}</p>
                           <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                           </p></li>
                       <li>
                           <p>{% blocktrans %}24/5 Dealing Support{% endblocktrans %}</p>
                           <p class="gold"><i class="fa fa-times"></i>
                           </p></li>
                       <li>
                           <p>{% blocktrans %}Commission{% endblocktrans %}</p>
                           <p class="gold"><i class="fa fa-times"></i>
                           </p></li>
                       </ul>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4 col-sm-12">
             <div class="standard-account-wraper">
                 <div class="standard-account-topbar"></div>
                 <div class="standard-account-content">
                     <span>V</span>
                     <div class="standard-account-spec">
                         <h3>{% blocktrans %}VIP ACCOUNT{% endblocktrans %}</h3>
                         <p>{% blocktrans %}Dedicated 24 hour dealing support{% endblocktrans %}</p>
                         <br>
                         <ul>
                         <li></li>
                         <li>
                             <p>{% blocktrans %}Spreads{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}from 0 pips{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Minimum Deposit{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}20,000 USD *{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Leverage{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}1:1-1:500{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Order Execution{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}Market Execution{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Instruments{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}FX, Commodities, Equity Indices{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Deposit Currencies{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}USD, EUR, GBP, JPY, RUB, PLN CZK{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Swap Type{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}Points ***{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Minimum Order Size{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}0.01 ****{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Maximum Order Size{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}20{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Stop Out{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}50%{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Margin Call{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}100%{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Trading Platform{% endblocktrans %}</p>
                             <p class="gold">{% blocktrans %}MetaTrader 4{% endblocktrans %}
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Mobile Trading{% endblocktrans %}</p>
                             <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Telephone Trading{% endblocktrans %}</p>
                             <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Fifth Decimal{% endblocktrans %}</p>
                             <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}24h Dealing Support{% endblocktrans %}</p>
                             <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                             </p>
                         </li>
                         <li>
                             <p>{% blocktrans %}Commission{% endblocktrans %}</p>
                             <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                             </p>
                         </li>
                         <p></p>
                         </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
         <div class="col-md-4 col-sm-12">
                             <div class="standard-account-wraper">
                 <div class="standard-account-topbar"></div>
                 <div class="standard-account-content">
                     <span>P</span>
                     <div class="standard-account-spec">
                         <h3>{% blocktrans %}PLATINUM ACCOUNT{% endblocktrans %}</h3>
                         <p>{% blocktrans %}Go pro with a ZERO spread account{% endblocktrans %}</p>
                         <br>
                         <ul>
                         <li></li>
                         <p>{% blocktrans %}Spreads{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}from 1.9 pips{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Minimum Deposit{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}5,000 USD *{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Leverage{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}1:1-1:500{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Order Execution{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}Market Execution{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Instruments{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}FX, Commodities, Equity Indices{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Deposit Currencies{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}USD, EUR, GBP, JPY, RUB, PLN CZK{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Swap Type{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}Points ***{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Minimum Order Size{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}0.01 ****{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Maximum Order Size{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}20{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Stop Out{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}50%{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Margin Call{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}100%{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Trading Platform{% endblocktrans %}</p>
                         <p class="gold">{% blocktrans %}MetaTrader 4{% endblocktrans %}
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Mobile Trading{% endblocktrans %}</p>
                         <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Telephone Trading{% endblocktrans %}</p>
                         <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Fifth Decimal{% endblocktrans %}</p>
                         <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                         </p></li>
                         <li>
                         <p>{% blocktrans %}24h Dealing Support{% endblocktrans %}</p>
                         <p class="gold"><i class="fa fa-check" aria-hidden="true"></i>
                         </p></li>
                         <li>
                         <p>{% blocktrans %}Commission{% endblocktrans %}</p>
                         <p class="gold"><i class="fa fa-times"></i>
                         </p></li>
                         <p></p></li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
